<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>template</title>
<meta name="description" content="">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta name="twitter:card" content="">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="" />
<link rel="shortcut icon" href="" />
  <link rel="stylesheet" href="../assets/stylesheets/libs/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/app.css">
  
  	<link rel="stylesheet" href="./assets/stylesheets/index.css">
  
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
  
</head>
<body>
<div id="content">

<header>
  <!-- header -->
  header
</header>

<div>
  include page contentasd
</div>

<footer>
  <!-- footer -->
  footer
</footer>
</div>

  <script src="./assets/javascripts/index.js"></script>

</body>
</html>