<%- include('partials/_meta_header', {
    styles: ['index'],
    javascripts:[]
  })
%>

<% include partials/_header %>

<div>
  include page contentasd
</div>

<% include partials/_footer %>
<%- include('partials/_meta_footer', {
  javascripts: ['index']
}) %>