<%- include('partials/_meta_header', {
  styles: [],
  javascripts:[]
}) %>
<% include partials/_header %>

<div>
  include page1 content
</div>

<% include partials/_footer %>
<%- include('partials/_meta_footer', {
  javascripts: []
}) %>